
.food::-webkit-scrollbar {
    display: none;
  }

.imageContainers img{
    width: 130px;
    height: 20vh;
    margin-right: 3rem;
    border-radius: 100%;
    border: 1px solid pink;
    border-width: 0.5rem;
    border-color: pink;
    margin-left: 2rem;
}

.food{
    height: 30vh;
    display: flex;
    overflow: scroll;
  }

  .category{
    font-size: 2rem;
    font-weight: 300;
    margin-left: 2rem;
    padding: 2rem;
  }

  .imageContainers{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imageContainers span{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-right: 20px;
    margin-top: 5px;
  }

  @media screen and (max-width:1024px) {
    .container{
    }

    
  }


  @media screen and (device-width:820px) {
    .imageContainers img{
      height: 15vh;
    }

    .food{
      height: 25vh;
    }

    .category{
      font-size: 3rem;
      font-weight: 400;
    }
    
  }

  @media screen and (max-width:768px){
    .imageContainers img{
        
    }

    
  }

  @media screen and (max-width:520px) {

    
  }

  @media screen and (max-width:480px){
    .imageContainers img{

      height: 17vh;
        
    }
    
  }
  
  