.image{
    height: 71vh;
    background-image: linear-gradient(pink,rgba(22, 211, 245, 0.507),rgba(248, 12, 248, 0.493));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;

    

}

/* .right{
    
    width: 60%;
    margin-left: 2rem;
    margin-bottom: 10rem;

} */



.authentic{
   
}

.left{
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: baseline;
    margin: 3rem;
}
.authentic span{
    display: block;
}

.authentic :nth-child(1){
    font-size: 4rem;
    font-weight: 600;
}

.authentic :nth-child(2){
    font-size: 4rem;
    font-weight: 600;
}

.authentic :nth-child(3){
    font-size: 4rem;
    font-weight: 600;
}

.authentic :nth-child(4){
    font-size: 4rem;
    font-weight: 600;
}

.pamper{
   
    text-align: left;
    margin-top: 2rem;

}

.pamper p{
    font-size: 1.5rem;
    font-weight: 300;
    word-spacing: 2px;

}

.right{
    width: 50vw;
    text-align: center;
    margin-top: 3rem;
}

.right img{
    width: 30vw;
    height: 60vh;
}

.btn button{
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 1rem;
    margin-top: 2rem;
    
}

@media screen and (max-width:1024px) {

    .image{
        height: 65vh;
    }

    .right{
        height: 60vh;
        
    }
    

    .right img{
        width: 35vw;
        height: 40vh;
        
    }

    .pamper{
       
    }
    
    
}

@media screen and (device-width:820px) {

    .image{
        height: 50vh;
    }

    .pamper{
    }
    
}


@media screen and (max-width:768px) {

    .image{
        height: 70vh;
    }

    .right{
        width: 40vw;
        
    }

    .left{
        width: 45vw;
    }
    

    .right img{
        width: 35vw;
        height: 45vh;
    }

    

}

@media screen and (max-width:520px) {

    .image{
        height: 55vh;
    }

    .right{
        
        width: 35vw;
    }
    

    .right img{
        width: 30vw;
        height: 40vh;
    }

    .left{
        width: 50vw;
    }

    .authentic :nth-child(1){
        font-size: 3rem;
        font-weight: 500;
    }

    .authentic :nth-child(2){
        font-size: 3rem;
        font-weight: 500;
    }

    .authentic :nth-child(3){
        font-size: 3rem;
        font-weight: 500;
    }

    .authentic :nth-child(4){
        font-size: 3rem;
        font-weight: 500;
    }

    .pamper p{
        font-size: 1rem;
        font-weight: 200;
    }

    .btn button{
        padding: 0.5rem;
    }



    
}

@media screen and (max-width:480px) {

    .right{
        
        width: 30vw;
        height: 50vh;
    }

    .right img{
        width: 25vw;
        height: 20vh;
        margin-top: 4rem;
    }

    .image{

        height: 50vh;
    
    }

    .authentic{
    }

    .authentic :nth-child(1){
        font-size: 2rem;
        font-weight: 400;
    }

    .authentic :nth-child(2){
        font-size: 2rem;
        font-weight: 400;
    }

    .authentic :nth-child(3){
        font-size: 2rem;
        font-weight: 400;
    }

    .authentic :nth-child(4){
        font-size: 2rem;
        font-weight: 400;
    }

    .pamper{
        width: 60vw;
        margin-top: 2rem;
    }

    .pamper p{
        font-size: 1rem;
        font-weight: 200;
        word-spacing: 1px;
    }




    .btn button{
        margin-top: 2rem;
        padding: 0.4rem;
    }
   
}

@media screen and (max-width:400px) {
    .image{
        height: 40vh;
    }
    
}

@media screen and (max-width:350px) {
    .image{
        height: 55vh;
    }
    
}