.timing ul {
    display: flex;
    flex-direction: column;

  }

  .timing{
    height: 20rem;
    width: 100%;
    background-color: aqua;
    
  }

  @media screen and (max-width:800px) {
    .timing{
        
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
    }
    
  }