.box{
    height: 70vh;
    background-color: rgba(128, 128, 128, 0.171);
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itcImage{
    width: 20vw;
    text-align: center;
    margin: auto;
}

.itcImage img{
    width: 12vw;
    margin-top: 5rem;
}

.copyright{
    margin-bottom: 10rem;
}

.copyright p{
    font-size: 1.5rem;
}

@media screen and (max-width:1024px) {
    

    .itcImage img{
        width: 16vw;
    }


    
}


@media screen and (device-width:820px) {
    .itcImage img{
        width: 30vw;
    }

    .itcImage{
        width: 35vw;
    }

    .copyright{
        margin-bottom: 20rem;
    }
    
    .copyright p{
        font-size: 2rem;
    }
}

@media screen and (max-width:768px) {
    

    .itcImage img{
        width: 20vw;
    }
    
    
}

@media screen and (max-width:520px) {
    .itcImage{
        width: 24vw;
    }

    .itcImage img{
        width: 24vw;
    }
    
    
}

@media screen and (max-width:480px) {

    .itcImage{
        width: 40vw;
    }

    .itcImage img{
        width: 40vw;
    }

    .copyright{
        margin-bottom: 15rem;
    }

    
    
    
}